# Make tables that translate I-94 codes to human readable content for easier analysis

In [38]:
import pandas as pd
import json
import configparser
config = configparser.ConfigParser()
config.read(os.path.join(os.path.abspath(os.path.dirname(__file__))),'immigration.cfg')
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
print(config['IAM_ROLE']['ARN'])

'arn:aws:iam::818767899849:role/dwhRole'

### i_94 Port

In [27]:
df = pd.read_csv('/home/mabloq/airflow/data/i_port.txt',names=["port_id","city_state"], sep="=")
df.head()

      port_id                        city_state
0  'port_id'                             'name'
1     'ALC'\t        \t'ALCAN, AK             '
2     'ANC'\t        \t'ANCHORAGE, AK         '
3     'BAR'\t  \t'BAKER AAF - BAKER ISLAND, AK'
4     'DAC'\t        \t'DALTONS CACHE, AK     '

In [28]:
df['port_id'] = df['port_id'].str.strip()
df['city_state'] = df['city_state'].str.strip()
df['port_id'] = df['port_id'].str.strip("'")
df['city_state'] = df['city_state'].str.strip("'")

df['city'], df['state'] = df['city_state'].str.split(',',1).str

df.head(10)

,port_id,city_state,city,state
0,port_id,name,name,NaN
1,ALC,"ALCAN, AK",ALCAN,AK
2,ANC,"ANCHORAGE, AK",ANCHORAGE,AK
3,BAR,"BAKER AAF - BAKER ISLAND, AK",BAKER AAF - BAKER ISLAND,AK
4,DAC,"DALTONS CACHE, AK",DALTONS CACHE,AK
5,PIZ,"DEW STATION PT LAY DEW, AK",DEW STATION PT LAY DEW,AK
6,DTH,"DUTCH HARBOR, AK",DUTCH HARBOR,AK
7,EGL,"EAGLE, AK",EAGLE,AK
8,FRB,"FAIRBANKS, AK",FAIRBANKS,AK
9,HOM,"HOMER, AK",HOMER,AK

## Check Nulls

In [14]:
nulls = {}

for c in df.columns:
    nulls[c] = [len(df) - df[c].count()] 
    print(nulls)

df2 = pd.DataFrame(nulls) 
df2.head()

{'port_id': [0]}
{'port_id': [0], 'city_state': [0]}
{'port_id': [0], 'city_state': [0], 'city': [0]}
{'port_id': [0], 'city_state': [0], 'city': [0], 'state': [78]}

   port_id  city_state  city  state
0        0           0     0     78

### Check Nulls

In [19]:
df3 = df.loc[df['state'].isna()]
df3

,port_id,city_state,city,state
0,port_id,name,name,NaN
29,MAP,MARIPOSA AZ,MARIPOSA AZ,NaN
77,WAS,WASHINGTON DC,WASHINGTON DC,NaN
517,XXX,NOT REPORTED/UNKNOWN,NOT REPORTED/UNKNOWN,NaN
518,888,UNIDENTIFED AIR / SEAPORT,UNIDENTIFED AIR / SEAPORT,NaN
519,UNK,UNKNOWN POE,UNKNOWN POE,NaN
576,ZZZ,MEXICO Land (Banco de Mexico),MEXICO Land (Banco de Mexico),NaN
577,CHN,No PORT Code (CHN),No PORT Code (CHN),NaN
579,MAA,Abu Dhabi,Abu Dhabi,NaN
592,FRG,Collapsed (FOK) 06/15,Collapsed (FOK) 06/15,NaN
593,HRL,Collapsed (HLG) 06/15,Collapsed (HLG) 06/15,NaN
594,ISP,Collapsed (FOK) 06/15,Collapsed (FOK) 06/15,NaN
595,JSJ,Collapsed (SAJ) 06/15,Collapsed (SAJ) 06/15,NaN
596,BUS,Collapsed (BUF) 06/15,Collapsed (BUF) 06/15,NaN
597,IAG,Collapsed (NIA) 06/15,Collapsed (NIA) 06/15,NaN
598,PHN,Collapsed (PHU) 06/15,Collapsed (PHU) 06/15,NaN
599,STN,Collapsed (STR) 06/15,Collapsed (STR) 06/15,NaN
600,VMB,Collapsed (VNB) 06/15,Collapsed (VNB) 06/15,NaN
601,T01,Collapsed (SEA) 06/15,Collapsed (SEA) 06/15,NaN
602,PHF,No PORT Code (PHF),No PORT Code (PHF),NaN
603,DRV,No PORT Code (DRV),No PORT Code (DRV),NaN
604,FTB,No PORT Code (FTB),No PORT Code (FTB),NaN
605,GAC,No PORT Code (GAC),No PORT Code (GAC),NaN
606,GMT,No PORT Code (GMT),No PORT Code (GMT),NaN
607,JFA,No PORT Code (JFA),No PORT Code (JFA),NaN
608,JMZ,No PORT Code (JMZ),No PORT Code (JMZ),NaN
609,NC8,No PORT Code (NC8),No PORT Code (NC8),NaN
610,NYL,No PORT Code (NYL),No PORT Code (NYL),NaN
611,OAI,No PORT Code (OAI),No PORT Code (OAI),NaN
612,PCW,No PORT Code (PCW),No PORT Code (PCW),NaN
613,WA5,No PORT Code (WAS),No PORT Code (WAS),NaN
614,WTR,No PORT Code (WTR),No PORT Code (WTR),NaN
615,X96,No PORT Code (X96),No PORT Code (X96),NaN
616,XNA,No PORT Code (XNA),No PORT Code (XNA),NaN
617,YGF,No PORT Code (YGF),No PORT Code (YGF),NaN
618,5T6,No PORT Code (5T6),No PORT Code (5T6),NaN
619,060,No PORT Code (60),No PORT Code (60),NaN
620,SP0,No PORT Code (SP0),No PORT Code (SP0),NaN
621,W55,No PORT Code (W55),No PORT Code (W55),NaN
622,X44,No PORT Code (X44),No PORT Code (X44),NaN
623,AUH,No PORT Code (AUH),No PORT Code (AUH),NaN
624,RYY,No PORT Code (RYY),No PORT Code (RYY),NaN
625,SUS,No PORT Code (SUS),No PORT Code (SUS),NaN
626,74S,No PORT Code (74S),No PORT Code (74S),NaN
627,ATW,No PORT Code (ATW),No PORT Code (ATW),NaN
628,CPX,No PORT Code (CPX),No PORT Code (CPX),NaN
629,MTH,No PORT Code (MTH),No PORT Code (MTH),NaN
630,PFN,No PORT Code (PFN),No PORT Code (PFN),NaN
631,SCH,No PORT Code (SCH),No PORT Code (SCH),NaN
632,ASI,No PORT Code (ASI),No PORT Code (ASI),NaN
633,BKF,No PORT Code (BKF),No PORT Code (BKF),NaN
634,DAY,No PORT Code (DAY),No PORT Code (DAY),NaN
635,Y62,No PORT Code (Y62),No PORT Code (Y62),NaN
636,AG,No PORT Code (AG),No PORT Code (AG),NaN
637,BCM,No PORT Code (BCM),No PORT Code (BCM),NaN
638,DEC,No PORT Code (DEC),No PORT Code (DEC),NaN
639,PLB,No PORT Code (PLB),No PORT Code (PLB),NaN
640,CXO,No PORT Code (CXO),No PORT Code (CXO),NaN
641,JBQ,No PORT Code (JBQ),No PORT Code (JBQ),NaN
642,JIG,No PORT Code (JIG),No PORT Code (JIG),NaN
643,OGS,No PORT Code (OGS),No PORT Code (OGS),NaN
644,TIW,No PORT Code (TIW),No PORT Code (TIW),NaN
645,OTS,No PORT Code (OTS),No PORT Code (OTS),NaN
646,AMT,No PORT Code (AMT),No PORT Code (AMT),NaN
647,EGE,No PORT Code (EGE),No PORT Code (EGE),NaN
648,GPI,No PORT Code (GPI),No PORT Code (GPI),NaN
649,NGL,No PORT Code (NGL),No PORT Code (NGL),NaN
650,OLM,No PORT Code (OLM),No PORT Code (OLM),NaN
651,.GA,No PORT Code (.GA),No PORT Code (.GA),NaN
652,CLX,No PORT Code (CLX),No PORT Code (CLX),NaN
653,CP,No PORT Code (CP),No PORT Code (CP),NaN
654,FSC,No PORT Code (FSC),No PORT Code (FSC),NaN
655,NK,No PORT Code (NK),No PORT Code (NK),NaN
656,ADU,No PORT Code (ADU),No PORT Code (ADU),NaN
657,AKT,No PORT Code (AKT),No PORT Code (AKT),NaN
658,LIT,No PORT Code (LIT),No PORT Code (LIT),NaN
659,A2A,No PORT Code (A2A),No PORT Code (A2A),NaN
660,OSN,No PORT Code (OSN),No PORT Code (OSN),NaN

Looks like some null values were found for our i94_port data. That's because the state field is code generated, by splitting the city_state field by a comma. There were 2 instances where a US city_state was entered with no comma. So we can just fix that manually. Then there is a second case where the city_state starts with "No Port..." I will indicate this in the stat column as "NPPT". Then there is a third case where city_state starts with "Collapsed". I will indicate this and fill the state column with "CPPT"

Below is how we will do it in spark, it wont work for this notebook becuase we use pandas to explore our data

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

@udf(StringType())
def state_null(col, state):
    if state is None:
        if col.startswith("No PORT"):
            return "NPRT"
        elif col.startswith("Collapsed"):
            return "CPRT"
        elif "UNKOWN" in col or "UNIDENTIFIED" in col:
            return "UNKWN"
        elif "WASHINGTON DC" in col:
            return "DC"
        elif "MARIPOSA AZ" in col:
            return "AZ"
    else:
        return state

In [31]:
df = df.withColumn('state', state_null('city_state', 'state'))

AttributeError: 'DataFrame' object has no attribute 'withColumn'

# i94_country

In [20]:
country_df = pd.read_csv('/home/mabloq/airflow/data/i_country.txt',names=["i94_country_id","country"], sep="=")

### Check Nulls

In [22]:
nulls = {}

for c in country_df.columns:
    nulls[c] = [len(country_df) - country_df[c].count()] 
    print(nulls)

country_df2 = pd.DataFrame(nulls) 
country_df2.head()

{'i94_country_id': [0]}
{'i94_country_id': [0], 'country': [0]}

   i94_country_id  country
0               0        0

In [25]:
# Make tables that translate I-94 codes to human readable content for easier analysis

### i_94 Port

df = pd.read_csv('/home/mabloq/airflow/data/i_port.txt',names=["i94_port_id","city_state"], sep="=")
df.head()

df['i94_port_id'] = df['i94_port_id'].str.strip()
df['city_state'] = df['city_state'].str.strip()
df.head()

### i94_country

# df = pd.read_csv('/home/mabloq/airflow/data/i_country.txt',names=["i94_country_id","country"], sep="=")
# df.head(100)
# df['i94_port_id'] = df['i94_port_id'].str.strip()
# df['city_state'] = df['city_state'].str.strip()
# df.head()# Make tables that translate I-94 codes to human readable content for easier analysis### i_94 Portdf = pd.read_csv('/home/mabloq/airflow/play/i_port.txt',names=["i94_port_id","city_state"], sep="=")
# df.head()

  i94_port_id                      city_state
0   'port_id'                          'name'
1       'ALC'        'ALCAN, AK             '
2       'ANC'        'ANCHORAGE, AK         '
3       'BAR'  'BAKER AAF - BAKER ISLAND, AK'
4       'DAC'        'DALTONS CACHE, AK     '